.footerContainer {
  /* position: relative;
  /* margin-bottom: 0px; */
  /* bottom: 0;
  background-color: #ffad60; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: [footer-height];
  border: 4px solid blac;
}
